.tools-container{
    display: flex;
    z-index: 12;
    position: fixed;
    align-self: center;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    width: fit-content;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #bababa;
}

.animate-tools-container{
    -webkit-transition: all 0.5s ease;  
    -moz-transition: all 0.5s ease;  
    -o-transition: all 0.5s ease;  
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.tool{
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    margin: 0.3rem;
    border-radius: 50%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

.tools-container img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: #ffffff;
}

#bl{
    background-image: url(../media/BlackPencil.png);
    opacity: 0.5;
    pointer-events:none;
}